<%= simple_form_for([:admins, @article], html: { class: 'form-horizontal' }) do |f| %>
   <div class="row">
    <div class="col">
      <%= f.association :category, prompt: "< Choose a Category >" %>
    </div>
    <div class="col">
      <%= f.input :release_date, as: :string, input_html: { class: 'date-selector', data: { 'date-format' => 'yyyy-mm-dd' } } %>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-8">
      <%= f.input :title %>
    </div>
    <div class="col-sm-4">
      <%= f.input :slug %>
    </div>
  </div>
  <%= f.input :content, input_html: { rows: 20 } %>
  <%= f.input :tags %>

  <%= f.submit class: 'btn btn-primary' %>
  <%= link_to "Back", :back, class: 'btn btn-outline-secondary' %>
<% end %>
