<p><%= link_to "New category", new_admins_category_path, class: 'btn btn-primary' %></p>

<table class="table table-bordered">
  <thead>
    <tr>
      <th>Name</th>
      <th>Articles</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @categories.each do |category| %>
      <tr>
        <td><%= category.name %></td>
        <td>
          <ul>
            <% category.articles.each do |article| %>
              <li><%= article.title %></li>
            <% end %>
          </ul>
        </td>
        <td>
          <%= link_to "Edit", edit_admins_category_path(category), class: 'btn btn-sm btn-outline-primary' %>
          <%= link_to "Delete", admins_category_path(category), method: :delete, class: 'btn btn-sm btn-outline-danger', data: { confirm: 'Are you sure?' } %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
