<!DOCTYPE html>
<html>
  <head>
    <title>Blogine</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <%= stylesheet_link_tag    "application", media: "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
  </head>

  <body id='blogine'>
    <% if admins_page? %>
      <%= render 'admins_topbar' %>
    <% else %>
      <%= render 'topbar' %>
    <% end %>

    <div id='main-content' class="container <%= 'admins' if admins_page?  %>">
      <%#= render "flash_content" %>
      <%= render 'admins_navbar' if admins_page? %>

      <%= yield %>
    </div>
  </body>
</html>
