<article>
  <div class='float-left'>
    <%= link_to category_path(slug: @category.slug) do %>
      « Category Index <small>(<%= @category %>)</small>
    <% end %>
  </div>
  <div class="timestamp">Date: <%= l @article.release_date %></div>

  <h2 class='title'><%= @article.title %></h2>

  <div>
    <%= render_markdown(@article.content) %>
  </div>
</article>
