<div class='category-content'>
  <h3 class='text-center'><%= @category %></h3>
  <p class='text-center'><small><%= @articles.count %> <%= "article".pluralize(@articles.count) %> in total</small></p>

  <% @articles.group_by { |a| a.release_date.year }.each do |year, articles| %>
    <hr />
    <h4><%= year %></h4>
    <ul>
      <% articles.each do |article| %>
        <li><%= link_to article.title, article_path(article.slug) %> (<%= l article.release_date %>)</li>
      <% end %>
    </ul>
  <% end %>
</div>
