<div class="public-pages row">
  <div id='left-side' class="col-sm-8">
    <p class="alert alert-info" role="alert">
      <%= @category %>: <%= @articles.count %> <%= "article".pluralize(@articles.count) %> in total
    </p>

    <% @articles.group_by { |a| a.release_date.year }.each do |year, articles| %>
      <h4><%= year %></h4>
      <ul>
        <% articles.each do |article| %>
          <li><%= link_to article.title, article_path(article.slug) %> (<%= l article.release_date %>)</li>
        <% end %>
      </ul>
      <hr />
    <% end %>
  </div>

  <div class="col-sm-4">
    <%= render 'category_sidebar' %>
  </div>
</div>
